M4PL.XCBL.WebService/XCBL.WebService/PBSTesting_ConsoleApp/PBSTesting_ConsoleApp/Service References/PBS_ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Copyright © Programmed Business Solutions - October 2010" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="Copyright © Programmed Business Solutions - October 2010" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Copyright © Programmed Business Solutions - October 2010">
      <s:element name="GetSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSQL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strConnect" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSQLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SQLtoCSV_File">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSQL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SQLtoCSV_FileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SQLtoCSV_FileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSQLSoapIn">
    <wsdl:part name="parameters" element="tns:GetSQL" />
  </wsdl:message>
  <wsdl:message name="GetSQLSoapOut">
    <wsdl:part name="parameters" element="tns:GetSQLResponse" />
  </wsdl:message>
  <wsdl:message name="SQLtoCSV_FileSoapIn">
    <wsdl:part name="parameters" element="tns:SQLtoCSV_File" />
  </wsdl:message>
  <wsdl:message name="SQLtoCSV_FileSoapOut">
    <wsdl:part name="parameters" element="tns:SQLtoCSV_FileResponse" />
  </wsdl:message>
  <wsdl:message name="GetSQLHttpGetIn">
    <wsdl:part name="strSQL" type="s:string" />
    <wsdl:part name="strConnect" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSQLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SQLtoCSV_FileHttpGetIn">
    <wsdl:part name="strSQL" type="s:string" />
    <wsdl:part name="User" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SQLtoCSV_FileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSQLHttpPostIn">
    <wsdl:part name="strSQL" type="s:string" />
    <wsdl:part name="strConnect" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSQLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SQLtoCSV_FileHttpPostIn">
    <wsdl:part name="strSQL" type="s:string" />
    <wsdl:part name="User" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SQLtoCSV_FileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetSQL">
      <wsdl:input message="tns:GetSQLSoapIn" />
      <wsdl:output message="tns:GetSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SQLtoCSV_File">
      <wsdl:input message="tns:SQLtoCSV_FileSoapIn" />
      <wsdl:output message="tns:SQLtoCSV_FileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpGet">
    <wsdl:operation name="GetSQL">
      <wsdl:input message="tns:GetSQLHttpGetIn" />
      <wsdl:output message="tns:GetSQLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SQLtoCSV_File">
      <wsdl:input message="tns:SQLtoCSV_FileHttpGetIn" />
      <wsdl:output message="tns:SQLtoCSV_FileHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="GetSQL">
      <wsdl:input message="tns:GetSQLHttpPostIn" />
      <wsdl:output message="tns:GetSQLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SQLtoCSV_File">
      <wsdl:input message="tns:SQLtoCSV_FileHttpPostIn" />
      <wsdl:output message="tns:SQLtoCSV_FileHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSQL">
      <soap:operation soapAction="Copyright © Programmed Business Solutions - October 2010/GetSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SQLtoCSV_File">
      <soap:operation soapAction="Copyright © Programmed Business Solutions - October 2010/SQLtoCSV_File" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSQL">
      <soap12:operation soapAction="Copyright © Programmed Business Solutions - October 2010/GetSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SQLtoCSV_File">
      <soap12:operation soapAction="Copyright © Programmed Business Solutions - October 2010/SQLtoCSV_File" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetSQL">
      <http:operation location="/GetSQL" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SQLtoCSV_File">
      <http:operation location="/SQLtoCSV_File" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetSQL">
      <http:operation location="/GetSQL" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SQLtoCSV_File">
      <http:operation location="/SQLtoCSV_File" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://70.96.86.243/VOCWS/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://70.96.86.243/VOCWS/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
      <http:address location="http://70.96.86.243/VOCWS/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="http://70.96.86.243/VOCWS/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>